# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.zip

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

resources/
PlayOnTape Adapter/export
PlayOnTape Module/export
faceplates/PlayOnTape Backplate/export/
faceplates/PlayOnTape Faceplate A1/export/